{% extends "app/base.html" %}
{% load static %}

{% block title %}
    About
{% endblock title %}

{% block main-content %}
<div class="container mt-3">
    <div class="row">
        <div class="col">
            <h2 class="text-center">About Us</h2>
            <p class="fs-4 text-center">
                This is a public limited company having its registered and corporate office in Pune, Ruiru state, Kenya. The company was incorporated in the year 2018 and production commenced in 2020. We are one of the fastest-growing public listed companies in Pune.
            </p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <h2 class="text-center">Mission</h2>
            <p class="fs-4 text-center">
                Our mission is to embrace the right technology to delight our customers, empower the farmer community through our unique 'Relationship farming' model, and anticipate, understand, and respond to our customers' needs by creating high-quality products and making them available through innovative and convenient channels.
            </p>
        </div>
    </div>        
</div>
{% endblock main-content %}
